[application]
name = "numbers"
default_platform = "web"

[web.app]

# HTML title tag content
title = "NUMBERS"
base_path = "/numbers-rs/"
# include `assets` in web platform
[web.resource]

# Additional CSS style files
style = []

# Additional JavaScript files
script = []

[web.resource.dev]

# Javascript code file
# serve: [dev-server] only
script = []
