.switch-example {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 15px;
}

.switch {
  all: unset;
  position: relative;
  width: 2.25rem;
  height: 1.20rem;
  border-radius: 9999px;
  background-color: var(--content-secondary);
  cursor: pointer;
  transition: background-color 150ms;
}

.switch[data-state="checked"] {
  background-color: var(--accent-pink);
}

.switch-thumb {
  display: block;
  width: calc(1.15rem - 4px);
  height: calc(1.15rem - 4px);
  border-radius: 9999px;
  background-color: var(--content-primary);
  transform: translateX(4px);
  transition: transform 150ms;
  will-change: transform;
}

.switch[data-state="checked"] .switch-thumb {
  background-color: var(--content-primary);
  transform: translateX(calc(2.25rem - 1px - (1.20rem - 2px)));
}

/* Only apply disabled styles when data-disabled is "true" */
.switch[data-disabled="true"] {
  cursor: not-allowed;
  opacity: 0.5;
}
