:root {
    --content-primary: #FFFFFF;
    --content-secondary: #C7C9CC;
    --content-tertiary: #D9D9D9;
    --content-brand: #C58DE7;
    --content-inverse: #030203;

    --bg-primary: #020202;
    --bg-secondary: #111012;
    --bg-tertiary: #24222E;
    --bg-brand: #C58DE7;
    --bg-gray: #3D3D3D;

    --accent-pink: #D586E0;
    --accent-blue: #91A1FA;
    --accent-green: #77C0AF;
    --accent-lime: #D1DC97;
    --accent-red: #E9A9B3;

    --paragraph-sm-font: "Roboto Flex", sans-serif;
    --paragraph-sm-size: 12;
    --paragraph-sm-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-primary);
    color: var(--content-primary);
    font-family: var(--paragraph-sm-font);
    font-size: var(--paragraph-sm-size);
    font-weight: var(--paragraph-sm-weight);
    margin: 0;
}

.icon {
    display: inline;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    position: relative;
    right: 30%;
    bottom: 15%;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.infos-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    max-width: 450px;
    gap: 20px;
}

.infos-container .overline {
    font-size: 16px;
    text-transform: uppercase;
    color: var(--content-secondary);
}

.infos-container .header {
    font-size: 72px;
    font-weight: bold;
    line-height: 130%;
    text-transform: uppercase;
    color: var(--content-primary);
    margin-bottom: 48px;
}

.questions {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.question-container {
    display: flex;
    gap: 14px;

    align-items: start;
}

.question-texts {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    gap: 10px;
}

.question-icon {
    color: var(--content-brand);
    font-size: 26px;
    text-align: center;
}

.question-title {
    color: var(--content-brand);
    font-size: 14px;
}

.question-description {
    color: var(--content-primary);
    font-size: 12px;
    font-weight: 600;
}

.footer-mobile {
    display: none;
}